.footer {
    background-color: #f0f3f2;
    margin-top: auto!important;
    padding: 1rem 0;
}

.accordion-item {
    font-size: 1em;
    padding-top: 0.25em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    padding:  0.75em;
}

.accordion_table {
    width: 100%;
}

.accordion_table td{
    padding-top: 0.5em;
    padding-left: 3em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.object-selected {
    color: #C41E3A;
}

.section-my-lg {
    margin-bottom: 5rem!important;
    margin-top: 5rem!important;
}

.form-check {
    display: block;
    margin-bottom: 0.125rem;
    min-height: 1.4rem;
    padding-left: 1.5em;
}

.d-grid {
    display: grid!important;
}

.img-logo-login {
    max-width: 80%;
    height: auto;
}

.container-login {
    max-width: 90%;
    height: auto;
}