.footer {
    background-color: #f0f3f2;
    margin-top: auto!important;
    padding: 1rem 0;
}

.newsletter {
    margin-top: auto!important;
    padding: 1rem 0;
}

.border-categories {
    border: 1px solid #dee2e6!important;
    border-radius: 0.5rem!important;
}

.accordion-item {
    font-size: 1em;
    padding-top: 0.25em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    padding:  0.75em;
}

.accordion_table {
    width: 100%;
}

.accordion_table td{
    padding-top: 0.5em;
    padding-left: 3em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.object-selected {
    color: #C41E3A;
}

.section-my-lg {
    margin-bottom: 2rem!important;
    margin-top: 2rem!important;
}

.form-check {
    display: block;
    margin-bottom: 0.125rem;
    min-height: 1.4rem;
    padding-left: 1.5em;
}

.d-grid {
    display: grid!important;
}

.img-logo-login {
    max-width: 80%;
    height: auto;
}

.img-shop-item {
    max-width: 80%;
    height: auto;
}

.img-shop-banner {
    max-width: 70%;
    height: auto;
}

.banner-bg-left {
    max-width: 97%;
    background-color: #dfe2e1;
    border-radius: 1.25rem!important;
    text-align: right;
}

.banner-bg-right {
    max-width: 100%;
    background-color: #17a2b8;
    border-radius: 1.25rem!important;
    text-align: right;
}

.container-login {
    max-width: 90%;
    height: auto;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid #dfe2e1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card-header {
    border-radius: 0.5rem;
}

.card-body {
    padding: 1rem 1rem;
}